<h1>Program Menghitung Nilai</h1>

<label for="">Nama Mahasiswa</label>
<input type="text" name="nama_mhs">
<button onclick="submit()">Tambah Mahasiswa</button>

<br><br>

<table cellpadding="10" border="1pt">
    <thead>
        <th>NO.</th>
        <th>NAMA</th>
        <th>UTS (20%)</th>
        <th>UAS (20%)</th>
        <th>TUGAS (30%)</th>
        <th>KEHADIRAN (20%)</th>
        <th>KEAKTIFAK (10%)</th>
        <th>NILAI</th>
        <th>ABJAD</th>
    </thead>
    <tbody id="render"></tbody>
</table>

<script>
var mhs = []
var percentage = {
    mid_exam: 20,
    final_exam: 20,
    coursework: 30,
    attendance: 20,
    livelinnes: 10
}

const submit = () => {
    var nama = $('input[name="nama_mhs"]').val()

    if(nama != '') {
        mhs.push({
            name: nama,
            mid_exam: 0,
            final_exam: 0,
            coursework: 0,
            attendance: 0,
            livelinnes: 0,
            score: 0,
            abjad: 'E'
        })
    }

    loadMhs()
    $('input[name="nama_mhs"]').val('')
}

const loadMhs = () => {
    var render = ``

    $.each(mhs, (key, val) => {
        render += `
            <tr>
                <td>${ key + 1 }</td>
                <td>${ val.name }</td>
                <td><input type="number" class="updateValue" data-key="${ key }" data-attr="mid_exam"  value="${ val.mid_exam }"></td>
                <td><input type="number" class="updateValue" data-key="${ key }" data-attr="final_exam" value="${ val.final_exam }"></td>
                <td><input type="number" class="updateValue" data-key="${ key }" data-attr="coursework" value="${ val.coursework }"></td>
                <td><input type="number" class="updateValue" data-key="${ key }" data-attr="attendance" value="${ val.attendance }"></td>
                <td><input type="number" class="updateValue" data-key="${ key }" data-attr="livelinnes" value="${ val.livelinnes }"></td>
                <td id="score${key}">${ val.score }</td>
                <td id="grade${key}">${ val.abjad }</td>
            </tr>`
    })

    $('#render').html(render)
    updateValue()
}

const updateValue = (attr, key, event) => {
    $('.updateValue').keyup(function(e) {
        e.preventDefault()
        var key = $(this).data('key'),
            attr = $(this).data('attr')

        mhs[key][attr] = $(this).val()

        mhs[key].score = (((parseInt(mhs[key].mid_exam) * parseInt(percentage.mid_exam)) / 100) + ((parseInt(mhs[key].final_exam) * parseInt(percentage.final_exam)) / 100) + ((parseInt(mhs[key].coursework) * parseInt(percentage.coursework)) / 100) + ((parseInt(mhs[key].attendance) * parseInt(percentage.attendance)) / 100) + ((parseInt(mhs[key].livelinnes) * parseInt(percentage.livelinnes)) / 100)).toFixed(2)
        mhs[key].abjad = grade(mhs[key].score)

        $(`#score${key}`).html(mhs[key].score)
        $(`#grade${key}`).html(mhs[key].abjad)
    })
}

const grade = (score) => {
    if(parseInt(score) > 80) {
        return 'A'
    } else if(parseInt(score) > 75) {
        return 'AB'
    } else if(parseInt(score) > 69) {
        return 'B'
    } else if(parseInt(score) > 60) {
        return 'BC'
    } else if(parseInt(score) > 55) {
        return 'C'
    } else if(parseInt(score) > 50) {
        return 'CD'
    } else if(parseInt(score) > 44) {
        return 'D'
    } else {
        return 'E'
    }
}

loadMhs()
</script>