<h1>Program Membalikkan Kata</h1>

<label for="">Masukkan Kata</label>
<textarea type="text" name="kata"></textarea>

<br><br>

<h2 id="result"></h2>

<script>
    $('*[name="kata"]').keyup(function(e) {
        e.preventDefault();
        console.log($(this).val());
    })

    // $('input[name="kata"').keyup(function(e) {
    //     e.preventDefault()
    //     balikKata($(this).val())
    // })

    function balikKata(val) {
        var result = ''
        var tmp = ''

        if(val.length > 0) {
            for(let i = val.length;i >= 0;i--) {
                if(val.charAt(i) == 'g' && val.charAt(i - 1) == 'n') {
                    tmp = val.charAt(i)
                } else {
                    if(val.charAt(i) == 'n') {
                        result += val.charAt(i) + tmp
                    } else {
                        result += val.charAt(i)
                    }
                }
            }
    
            $('#result').html(result)
        }
    }
</script>