.intro-y {
    animation: slideTop 1s ease-in-out
}

@keyframes slideTop {
    0% {
        margin-top: 50px;
        opacity: 0;
    } 100% {
        margin-top: 0;
        opacity: 1
    }
}

::-webkit-scrollbar {
    width: 5px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background: #f0f0f0
}

router-link {
    text-decoration: underline;
    color: #296bbd
}